{% extends 'base.html' %}

{% block content %}

{% if msg %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{ msg }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<form class="row g-3" action="/delete_acc" method="post">
<div class="col-md-12">
    <label for="inputEmail4" class="form-label">Full Name</label>
    <input type="text" class="form-control" id="inputName4" name="full_name" required>
  </div>
    <div class="col-md-12">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4" name="email" required>
  </div>
    <div class="col-12">
    <button type="submit" class="add_btn btn-danger">DELETE</button>
  </div>
</form>

{% endblock %}